<template name="footer">
  <footer class="container-fluid footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 clearfix">
          <div class="pull-left">
            <h2>Hello There</h2>
            <p>Some important information</p>
          </div>
          <div class="pull-right">
            <h5><i class="fa fa-envelope fa-2x ico"></i><span>somebody@gmail.com</span></h5>
            <h5><i class="fa fa-phone fa-2x ico"></i><span>123-456-789</span></h5>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
