@font-face
  font-family "Grenadier NF"
  src url("/fonts/GrenadierNF.ttf"),url("/fonts/GrenadierNF.otf")



// loading
html,body,main
  height 100%
  width 100%
.main
  min-height 100%
  padding-bottom 100px
  margin-bottom 40px
.footer.container-fluid
  background-color darken(#d64763,20%)
  color #fff
  // margin-top 250px
  .pull-right .ico
    position relative
    left -5px
    top 5px

.container.reception
  margin-top 120px
.bootbox-body
  font-size 16px

.animo-cont
  width 100%
  height 100%
  margin 0 auto
  position relative

animo($name,$time,$cubik,$delay)
  -webkit-animation $name $delay $cubik $time infinite
  -moz-animation $name $delay $cubik $time infinite
  animation $name $delay $cubik $time infinite

trans($what)
  -webkit-transform $what
  -moz-transform $what
  transform $what
@keyframes blaming
  0%
    opacity 0
    trans(scale(0.8))
  35%
    opacity 1
    trans(scale(1.2))
  100%
    opacity 0
    trans(scale(1))

.block-animation
  border-radius 5px
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-100%)
  p
    text-align center
    font-family "Grenadier NF","Open Sans","PT Sans",Helvetica,Arial;
    font-weight bold
    font-size 60px
    color #5d1722
    line-height 45px
    text-shadow 1px 1px 1px #536e69
    .first
      animo(blaming,0s,ease-in-out,3.2s)
    .second
      animo(blaming,.4s,ease-in-out,3.2s)
    .third
      animo(blaming,.7s,ease-in-out,3.2s)



// end of loading

.jumbotron
  margin-top 50px
  font-family "Grenadier NF"
  background #e7d8c1
  color #b2122a
  h1
    font-size 60px
    animo(blaming,0s,ease-in-out,3.2s)
  h2
    font-size 50px
    animo(blaming,.4s,ease-in-out,3.2s)
  h3
    font-size 45px
    animo(blaming,.7s,ease-in-out,3.2s)


padding-side($val,$valr)
  padding-left $val
  padding-right $valr

.main
  margin-top 80px
.create-post
  margin-top 120px
  margin-bottom 246px
.create-text
  resize:none
.form-text
  margin-top 10px
  font-size 16px
.nav-tabs,.nav-pills
  margin-bottom 20px
  overflow hidden

.iframe
  width:100%;
  height: 450px;

.create-comment
  height auto
  resize none

textarea.form-control
  height auto

.father-pills
  display table
.nav
  .nav-pills > li
    display table-cell

a:active,a:hover,a:focus,
textarea:active,textarea:hover,textarea:focus
input:focus,input:active,button:focus,button:active,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus:hover
  outline none
  overflow hidden

#login-dropdown-list input:last-of-type
    border-bottom-left-radius 0
    border-bottom-right-radius 0

.form-control
  // border-color $border-color
  box-shadow inset 0 1px 1px rgba(0, 0, 0, .075) // Redeclare so transitions work

  &:focus
    border-color darken(#01505D, 10%)
    box-shadow inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten(#01505D, 20%)

.navbar-right
  .form-control
    border-bottom 1px solid #ecede5
    color #ecede5

.load-more
  margin 0 auto
  display block


.comment-row-cr
  padding 10px
  margin-bottom 20px

#iron-router-progress
  background-color #014B57
  box-shadow 0 0 5px #000
#iron-router-progress.spinner:before
  border-color  transparent
  border none1


@media only screen and (max-width:768px)
  .create
    .nav-justified > li
      width 15%
    .nav.nav-pills > li
      display block
      font-size 14px
      float left
      i.fa-4x
        font-size 3em

@media only screen and (max-width:440px)
  .create-post
    margin-top 0px
  button.navbar-toggle
    width 39px
    border-radius 10px
  .dropdown-menu
    .form-control
      border-bottom 1px solid #ecede5
      color #ecede5

  .nav.nav-pills > li
    display block
  .well
    padding-side(1px,1px)
    .row
      padding-side(10px,10px)
    .img-post
      padding-side(0px,0px)
  .main
    .row
      margin-left 0px
      margin-right 0px
    .container.create-post
      padding-side(15px,15px)
    .container
      padding-side(0px,0px)
      .col-sm-12
        padding-side(0px,0px)
        overflow hidden
        .clearfix,.tags-list,h5,h6,p.form-text
          padding-side(10px,10px)
    .comment-cont
      .well
        padding-side(10px,10px)
  .pull-left
    .btn-success
      width 100px
  .iframe
    width 100%
    height 250px
  .search-tag
    width 100%
  .create
    .nav.nav-pills > li
      font-size 11px
      float left
      i.fa-4x
        font-size 2em
