// .animo-cont
//   width 100%
//   height 100%
//   margin 0 auto
//   position relative
//
//   animo($name,$time,$cubik,$delay)
//     -webkit-animation $name $delay $cubik $time infinite
//     -moz-animation $name $delay $cubik $time infinite
//     animation $name $delay $cubik $time infinite
//
//   trans($what)
//     -webkit-transform $what
//     -moz-transform $what
//     transform $what
//
// .block-animation
//   border-radius 5px
//   position absolute
//   top 50%
//   left 50%
//   transform translate(-50%,-60%)
//   p
//     text-align center
//     font-family "Grenadier NF"
//     font-weight bold
//     font-size 50px
//     color #5d1722
//     line-height 37px
//     text-shadow 1px 1px 1px #536e69
//     .first
//       animo(blameing,0s,ease-in-out,3.2s)
//     .second
//       animo(blameing,.4s,ease-in-out,3.2s)
//     .third
//       animo(blameing,.7s,ease-in-out,3.2s)
//
//
// @keyframes blameing
//   0%
//     opacity 0
//     trans(scale(0.8))
//   35%
//     opacity 1
//     trans(scale(1.2))
//   100%
//     opacity 0
//     trans(scale(1))
